.App {
  text-align: center;
}

body{
  background-color: rgb(85, 81, 81);
  font-family: 'Bungee Inline', cursive;
  font-size: 50px;
  text-align: center;
}

.App_form-input {
  height:100px;
  background-color: rgb(85, 81, 81) ;
  font-size:large ;
  border-bottom: none;
  border-left: none;
  border-top-right-radius: 10px; 
}

.btn_btn-dark {

  border: none;
  background-color:rgb(85, 81, 81);
  justify-content: center;
}

.App_Button--Margin {
  margin-top: 100px;
  justify-content: center;
}

.fas, .fa-arrow-alt-circle-right {
  font-size: 70px;
  margin-top: 0;
}

.App_Form--decoration {
  display: inline-block;
}

